@import url(https://fonts.googleapis.com/css?family=Raleway:100,500);

html, body, .fullHeightContainer{
    height:100%;
    min-height:100%;
    padding:0;
    margin:0;
}

body{
    background-color:#1D172D;
    background-image:url('../img/background.jpg');
    background-size:cover;
    background-position:center top;
    background-attachment:fixed;
    font-family: 'Raleway', sans-serif;
    font-weight:100;
}

.fullHeightContainer{
    text-align:center;
    background-color:rgba(29, 23, 45, 0.4);
}

.container{
    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    transition: transform 0.4s ease;
}

h1, .contact h2, .irrelevant .h1{
    margin:0;
    padding:30px;
    font-size:48pt;
    text-align:center;
    font-weight:100;
}

h2{
    font-weight:100;
}

h3{
    text-transform:uppercase;
    letter-spacing:2px;
    font-size:11pt;
    font-weight:100;
    padding:25px 0 10px 0;
}

h4{
    font-size:11pt;
    font-weight:500;
}

a{
    text-decoration:none;
    color:#E55041;
    transition: opacity 0.3s;
}

a:hover{
    opacity:0.5;
}

.contentWrap{
    background-color:#fff;
    color:#1D172D;
    text-align:center;
    min-height:100%;
}

.content{
    max-width:1024px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    padding:30px;
}

.topLogo{
    background-image:url('../img/logo-shapes.png');
    background-image:url('../img/logo-shapes.svg');
    background-size:200px auto;
    background-position:center bottom;
    background-repeat:no-repeat;
    height:150px;
    width:100%;
}

.tagline{
    background-color:#fff;
    color:#1D172D;
    text-align:center;
    padding:10px;
}


.homeLogo{
    background-image:url('../img/logo.png');
    background-image:url('../img/logo.svg');
    background-size:200px auto;
    padding-top:150px;
    background-repeat:no-repeat;
    background-position:center top;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);

    color:#fff;
}

.homeLogo a{
    color:#fff;
    padding:20px;
    margin:6px 3px;
    text-decoration:none;
    display:inline-block;
    min-width:60px;
    transition: all 0.3s
}

.homeLogo a:hover{
    background-color:rgba(255,255,255,0.2);
}

.left-column, .right-column, .left-half, .right-half{
    vertical-align:top;
    display:inline-block;
}

.left-column{
    width:35%;
    text-align:center;
}

.left-column img{
    max-width:100%;
    max-height:100%;
    vertical-align:top;
}

.right-column{
    width:64%;
}

.left-half, .right-half{
    width:49%;
}

.right-half{
    margin-left:1%;
}

.profilePic{
    width:200px;
    height:200px;
    border-radius:100px;
}


.contact{
    background-color:#e8e7ea;
    padding:30px;
}

.contact form, .contact input, .contact textarea, .contact label{
    width:100%;
}

.contact input{
    height:50px;
    border:none;
    margin-bottom:20px;
    margin-top:3px;
}

.contact textarea{
    height:150px;
    border:none;
    margin-top:3px;
}

.contact input[type='submit']{
    background-color:#1D162D;
    color:#fff;
    font-family: 'Raleway', sans-serif;
    font-size:12pt;
    margin-top:20px;
}

.successFlash{
    border: 1px solid #36DD72;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}


#menuButton{
    width:25px;
    height:25px;
    position:fixed;
    top:16px;
    right:16px;
    z-index:3;
    cursor:pointer;

    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s;
    transition: all .5s;

    text-align:right;
}

.menuTop, .menuMiddle, .menuBottom{
    background-color:#28221f;
    border-bottom:2px solid #fff;
    border-radius:2px;
    height:2px;
    margin-bottom:8px;
    float:right;
}

.menuTop, .menuBottom{
    width:75%;
}

.menuMiddle{
    width:100%;
}

#menu{
    background-color:rgba(29,23,45, 0.7);
    width:300px;
    max-width:99%;
    height:100%;
    overflow-y:scroll;
    position:fixed;
    top:0;
    right:0;
    z-index:2;
    margin-right:-300px;

    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    transition: transform 0.4s ease;
}


#menu .topLogo{
    height:50px;
    background-size:auto 70%;
}

#menu ul{
    list-style-type:none;
    padding:0;
    margin:0;
}

#menu ul li{
    height:80px;
    border-top:none;
    border-bottom:none;
    width:100%;
    margin-bottom:5px;
    line-height:80px;
    transition: all 0.3s
}

#menu ul li a{
    display:inline-block;
    width:100%;
    height:100%;
    text-decoration:none;
    text-align:center;
    color:#fff;
}

#menu ul li:hover{
    background-color:rgba(255,255,255,0.2);
}

.slideLeft{
    -webkit-transform: translate(-300px, 0);
    -webkit-transition: transform 0.4s ease;
    -moz-transform: translate(-300px, 0);
    -moz-transition: -moz-transform 0.4s ease;
    -ms-transform: translate(-300px, 0);
    -ms-transition: -ms-transform 0.4s ease;
    transform: translate(-300px, 0);
    transition: transform 0.4s ease;
}

.semiOpaque{
    opacity:0.3;
}

.btn{
    background-color:#1D172D;
    color:#fff !important;
    height:50px;
    line-height:50px;
    padding:0 15px;
    display:inline-block;
    text-decoration:none;
    transition: opacity 0.5s;
    margin-right:1px;
}

.btn:hover{
    opacity:0.8;
}

.gallery{
    display:none;
    padding-top:50px;
}

.card{
    background-color:#f8f8f8;
    max-width:24%;
    display:inline-block;
    margin-bottom:4px;
    cursor:pointer;
    border:1px solid #e8e7ea;
    vertical-align:top;
}

.card.expanded{
    max-width:none;
    position:absolute;
}

.card img{
    background-color:#fff;
    max-width:100%;
}


.card .desc{
    padding: 10px 5px 15px 5px;
    font-size:9pt;
}

.card h4{
    margin-top:0;
}

.imgContainer{
    max-height:250px;
    overflow:hidden;
}

.imgContainer.expanded{
    max-height:none;
}

@media(max-width:800px){
    .left-column, .right-column, .left-half, .right-half{
        width:100%;
        margin:0;
    }
    .card{
        max-width:49%;
    }
}

@media(max-width:480px){
    .card{
        max-width:100%;
    }
}

#lightbox{
    display:none;
    background-color:#fff;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    text-align:center;
    overflow:scroll;
    cursor:pointer;
}

.text-center{
    text-align:center;
}

.portfolio-item{
    margin-bottom:80px;
}

.irrelevant{
    display:none;
}

.irrelevantBtn{
    color:#fff;
    background-color:#fdfdfd;
}

.info{
    color:#E55041;
}

.infoGlyph{
    background-image:url('../img/info.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:bottom center;
    padding-top:3px;
    height:15px;
    width:15px;
    display:inline-block;
    margin-right:10px;
}